.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(134, 117, 117, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;

    &__active{
        display: flex;

    }
    &__inactive{
        display: none;
    }
    &__content{
        background: #fff;
        width: 80%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}