version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 12345
#      MYSQL_DATABASE: online_learning
#      MYSQL_USER: app_user
#      MYSQL_PASSWORD: app_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql/create_database.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  mysql_data:
