.login .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login .content{
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}