@use "var.scss" as v;

.card-title{
    width:100%;
}


.lesson-card:hover {
    background-color: #f8f9fa;
    transition: background-color 0.3s ease;
}

.video-player video {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
